
  

  .ql-editor img {    
    height: 300px;
    width: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
  }



  

  .ql-editor .ed-product-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease;
}


