.chat-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chat-sidebar {
  width: 25%;
  min-width: 280px;
  max-width: 360px;
  border-right: 1px solid #2a2a2a;
  background: #18191d;
  height: 85.8vh;
}

.chat-main {
  flex: 1;
  height: 85.8vh;
  background: #121212;
}
